@charset "UTF-8";
*{
  box-sizing: border-box;
}
header,main,aside,footer {
  padding: 20px 30px;
}
header{
  color: #ffffff;
  background-color: #3399ff;
  display: flex;
  align-items: center;
}
footer{
  text-align: center;
}
table{
  width: 300px;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-collapse: collapse;
}
th,td{
  padding: 5px;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
th{
  background-color: #ead9ff;
}
td{
  background-color: #d7eeff;
  text-align: right;
}
#wrapper{
  width: 1000px;
  margin: 20px auto;
  background-color: #ffffff;
}
body{
  color: #555555;
  background-color: #eeeeee;
  font-size: 16px;
  font-family: "メイリオ",sans-serif;
  font-weight: normal;
}
a{
  text-decoration: none;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 18px;
}
h2,h3{
  color: #800000;
  font-weight: normal;
  border-bottom: 1px solid #800000;
}
p{
  line-height: 1.8em;
}
blockquote p{
  font-weight: bold;
}
/*ナビゲーション*/
nav ul{
  margin: 0px;
  padding: 0px;
}
nav ul li{
  list-style-type: none;
  text-align: center;
  float: left;
}
nav a{
  display: block;
  width: 250px;
  background-color: #808;
  color: #fff;
  font-size: 16px;
  line-height: 3em;
  transition: 0.5s ease;
}
nav a:hover{
  background-color: #a0a;
  color: #fff;
}
main{
  width:600px;
  float: left;
}
aside{
  width:400px;
  float: right;
}
#banner{
  clear: both;
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer{
  clear: both;
}
h3 img{
  margin-right: 0.5em;
  vertical-align: middle;
}
ol li:nth-of-type(even){
  background-color: #ddd;
}
a img:hover{
  opacity: 0.5;
}
p{
  color: #555555;
}
